  <section class="container text-align-center">
    <br>
    <h1 class="text text-align-center">Nuestros nuevos lanzamientos</h1>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_1_1800x1800.jpg?v=1671217466" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios Para Gatos Dental Stixx Emerald Pet Sin Granos, Sabor Catnip y Calabaza 3.6 oz.t</h6>
          <p class="card-text"><a href="https://www.petmarkt.com.mx/collections/vendors?q=Emerald%20Pet">Emerald Pet</a><br>
          $209.00 <br>Precio publico</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Mani_1800x1800.png?v=1670972685" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Mantequilla de Maní, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Salmon_1800x1800.png?v=1670972296" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Salmón Salvaje, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
          <div class="card-footer">
            <small class="text-muted">vista previa</small>
          </div>
        </div>

      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Frente_Pollo_1800x1800.png?v=1670971804" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Pollo Asado, para perros de todas las razas, tamaños y edades. 155 gramos</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
          <div class="card-footer">
            <small class="text-muted">vista previa</small>
          </div>
        </div>

      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Pork_1800x1800.png?v=1670970995" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Teats, sabor Cerdo Ahumado, para perros de todas las razas, tamaños y edades. 155 gramosCard title</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Un%20Dos%20Treats"> Un Dos Treats</a><br>
            $ 160.00 <br>
            Precio Público
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">vista previa</small>
        </div>
      </div>
    </div>

    <br>
    <h1 class="text text-align-center">DIETAS DE PRESCRIPCIÓN VETERINARIA</h1>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_f01dd5d4-3198-47dc-be23-9f83cc1783b6_1800x1800.jpg?v=1654881483" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Atopic Mini 1.5 kg.</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 460.00 <br>
            Precio Público</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_a366f15e-c2cf-4978-9a67-a6c4985ba102_1800x1800.jpg?v=1654880626" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Atopic Medium / Maxi</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 830.00 <br>
            Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_86c2deb4-0733-4b25-a664-adeadc50bb42_1800x1800.jpg?v=1654879039" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Advance Prescripción Hypoallergenic</h6>
          <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
            $ 775.00<br>
            Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Vista previa</small>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/1_Front_4bb02cd8-1af6-4df7-89a7-1bf5c4683a8d_1800x1800.jpg?v=1654878294" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">
            Advance Sensitive Medium/Maxi de Salmón</h6>
            <p class="card-text">Por <a href="https://www.petmarkt.com.mx/collections/vendors?q=Advance">Advance</a><br>
              $ 715.00<br>
              Precio Público
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <br>
        <p>DIETAS <br>
        DE PREINCRIPCION <br> VETERIANARIA</p>
        <img src="https://irp.cdn-website.com/4ee278d3/DESKTOP/png/419.png" class="card-img-top" alt="...">

      </div>
    </div>
    </section>